These is the only rule for One Step Beyond:

+-----------------------------------------------+
!                                               !
!    Behave like you would in the real world    !
!                                               !
+-----------------------------------------------+

Ok, what it says is this: Of course there are things you can't do in
real life. Just don't do things you won't want to happen to you. If you
want to kill another player, think twice of it. Is it really worth the
loss of experience the other player suffers? Does it make you feel
better? Besides, if the police or fellow players(!) find out, you might
be listed on a nice WANTED sign.

Players are personalities. Respect their opinions and human rights. If
someone wants you to stop bothering him, stop.

While dirty talking might be normal when conversing with your closest
friend, other players might be embarassed when you use it in the public.

Thats it. Good luck!
