1. Guild Id:
   The guild id is fighters' guild.
   The profession shown in the title is fighter.

2. Requirements for joining:
   It will cost a player 2000 coins to join the guild. He don't need to 
   have a certain alignment or race.

3. Drawbacks:
   The drawback of this guild is that there are additional quests for this
   guild which a player absolutely has to solve before he can advance.
   If you want to see which quests there are, go to the guild and type
   'list guildquests'. The number behind the name is NOT showing the QP,
   but the level of the quest. A '5' means a player has to solve this quest
   before he/she can advance to level 5.

4. Handling of abilities:
   A player has to come to the guild to advance an ability. How much XP it
   costs to advance it can be read on a list which hangs at the wall.
   The fighting and aiming abilities can't be advanced. They raise when
   a player killed a monster or when he shot some arrows.
   Some abilities can't be advanced to more than 70%, but they can have
   values up to 80%, because they will automatically raise in some cases:
   a) Cri: may raise by 1 if a player hits someone critically
   b) Par: may raise by 1 if a player parries a hit
   c) Mul: may raise by 1 if a player hits someone twice

5. Other things:
   There is a small shop behind the fighters guild, which can only be entered
   by fighters. They can buy the books of prayers there or some cheap weapons.
   They can also buy the bows, arrows and bandages there, which they need for
   some of thier abilities like aiming and bandaging.
