1. Guild Id:
   The guild id is vampires' guild.
   The profession shown in the title of a vampire is monster.
   Any better suggestion on how to call a vampires profession is welcome :-)

2. Requirements for joining:
   It will cost a player 2000 coins to join the guild. He don't need to
   have a certain alignment or race. If he joins the guild he will be
   bitten by the guildmaster and turns into a vampire. His old race will
   be saved under /open/vampires/<name>, so he can get back his old race
   when leaving the guild.

3. Drawbacks:
   There are 2 guildquest at the moment which have to be solved by vampires.
   There will soon be some more of them. 
   The major drawback of this guild is that a vampire has to bite people if
   he won't loose some HP. Every 300 seconds he will lose one BP (blood-
   point). If his BPs sink below 0 he loses 30 HP.

4. Handling of abilities:
   A vampire can bite a single person up to 2 times getting some BP (blood-
   points) for it. The person will get some plastic-teeth (which were once
   just meant to be a gag). The teeth 'watch' that the vampire can't bite
   his/her victim more often than four times.
   A vampire can't bite a vampire or someone who has garlic.
   Beeing bitten a NPC automatically fights back while a player will have
   to decide on his own if he wants to attack the vampire. 
   When in a fight, a vampire can't bite someone. He has to concentrate on
   the fight.

   To advance a skill a vampire needs 10 BP. The maximum for a skill is 5.
   To advance a skill from 0 to 1 the player needs to be level 5.
                     "     1 to 2   "                    level 8.
                     "     2 to 3   "                    level 12.
                     "     3 to 4   "                    level 15.
                     "     4 to 5   "                    level 18.
    
   A list of the skills is in vampires.skills

