The Guild of Psionics --- rules                  Rover, 14-Apr-93
-------------------------------

Basics:
-------
The only requirements to join the guild are 2000 copper coins
now, but that will change later (the guild is not accessible
to players yet)

The guild's ID is "Guild of Psionics" (in P_GUILD).

Guild levels range from 1 to 30, but they are only an indicator
of aptitude, only a few of the psionic abilities query for guild
levels. Level 20 is the margin for becoming wiz, levels > 30 are
for superplayers.


Attributes:
-----------
The players get four psionic attributes:
  Perception : The ability to percieve the world and things
                around you.
  Influence  : The ability to influence things and creatures.
  Creativity : The ability to change reality or seem to change it.
  Discipline : The ability to control your body with your mind.

Each psionic ability is related to one of these attributes.
Eg. The more creative a player is (the higher his attribute rsp.),
    the better he can use the related abilities.

Players have internal attribute ratings from 100 to 3000.
Effective values are (rating/100), so they have attribute values
ranging from 1 to 30. (20 - 30 is for superplayers)


Chances:
--------
The chances for successful casts are: (in percent)
+-------------------------------------+
| base  = attribute_lvl * 2 + 20      |
| delta = attribute_lvl - ability_lvl |
| if (delta>10) delta = 10            |
|                                     |
| chance = base + (95-base)*delta/10  |
+-------------------------------------+

This is a little bit weird, and I'll have to think this formula over
again, but that's how Aquila calculated the chances.

Backfire chance: (in percent, set to zero if <0)
+----------------------------------------------------+
| backfire_chance = 20 - attribute_lvl + ability_lvl |
+----------------------------------------------------+

Backfire has no effects (like a normal fail) except for the damage
inflicting ones. A backfire on these will do damage to the player.

A successful use of an ability can raise the relating attribute.
If the player's attribute rating is high, his chances for raising
the absolute value after a successful cast are low and vice versa.
If it succeeds, the player's attribute value is raised by the
ability's level.
(Chances for raising are not implemented yet. Currently every
 successful cast will raise the attribute.)


Concentration points:
---------------------
Each ability needs some amount of concentration, the player
gets 'concentration points', calculated from the sum of all
his attributes.

The player needs to have at least the level of an ability in
conc.pts., otherwise he is not able to cast it until he cancels
another ability.

Some abilities have duration effects, they subtract conc.pts.
from the player, and he only gets them back if he cancels this
ability. So a low level player can only use a few abilities at
the same time, while a high level player may have ten abilities
active simultaneously. The more powerful duration abilities also
have a time limit.


Learning abilities:
-------------------
Players have to learn new abilities (except the four basic ones).
After they have learned an ability, they must wait a certain
amount of time until they are allowed to learn another ability.
For a level 30 ability that would mean waiting 3 hours playing-time.
The information will be stored over logouts to prevent cheating.


Guild restrictions:
-------------------
Psionics are not allowed to wear certain types of armour.
Strong metal armour blocks their mental powers and they can't
stand the feeling of it on their skin.
(This is not implemented yet)
Currently only the classes 'cloak', 'amulet' and 'ring' are allowed,
but that might change when we come to balancing the guilds.
